/*
	--- SUMMARY ---

		01 - HERO
		02 - WORKING
		03 - RESTAURANTS
		04 - MEDIAQUERIES

	--- END SUMMARY ---
*/
/*
	--- SUMMARY ---

		01 - GENERAL 		: *, HTML, BODY, GRID, TITLES, TEXT, BUTTONS
		02 - LAYOUTS 		: HEADER, FOOTER

	--- END SUMMARY ---
*/
/*
	--- SUMMARY ---

		00 - VARIABLES

	--- END SUMMARY ---
*/
/*** 00 - VARIABLES ***/
/*** 00 - END VARIABLES ***/
/*
	--- SUMMARY ---

		01 - ANIMATIONS

	--- END SUMMARY ---
*/
/*** 01 - ANIMATIONS ***/
@keyframes ChangeWith {
  from {
    width: 100%;
  }
  to {
    width: calc(100% - 70px);
  }
}
@keyframes MenuCard {
  from {
    opacity: 0;
    width: 0px;
  }
  to {
    opacity: 1;
    width: 70px;
  }
}
@keyframes RotateCheck {
  from {
    opacity: 0;
    width: 0px;
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  to {
    opacity: 1;
    width: 70px;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes SlideUP {
  from {
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
    opacity: 0%;
  }
  to {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 100%;
  }
}
@keyframes Loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes FadeOut {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0%;
    visibility: hidden;
  }
}
/*** 01 - END ANIMATIONS ***/
/*** 01 - GENERAL ***/
*, *::before, *::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  padding-top: 63px;
}

html {
  color: #000000;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

p {
  padding: 20px 0;
  margin: 0;
}

.o-button {
  background: linear-gradient(180deg, #FF79DA 10%, #9356DC 95%);
  color: #ffffff;
  text-decoration: none;
  font-size: 15px;
  font-weight: 400;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  padding: 19px 22px;
  transition: all 450ms ease;
  box-shadow: 0 5px 10px 0 #d9d9d9;
}
.o-button:hover {
  cursor: pointer;
  opacity: 0.9;
  box-shadow: 0 5px 10px 0 #000000;
}

/*** 01 - END GENERAL ***/
/*** 02 - LAYOUTS ***/
/*** HEADER ***/
.l-header {
  background-color: #ffffff;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  box-shadow: 0 5px 10px 0 #d9d9d9;
  position: fixed;
  z-index: 999;
  top: 0;
  height: 63px;
  width: 100%;
}
.l-header__container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
}
.l-header__logo {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  height: 63px;
}
.l-header__logo img {
  height: 30px;
}
.l-header__nav {
  display: none;
}
.l-header__back {
  color: #353535;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0%, -50%);
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  height: 63px;
  width: 63px;
}
.l-header__back i {
  color: #353535;
  transition: color 350ms ease;
}
.l-header__back:hover i {
  color: #99E2D0;
  transition: color 350ms ease;
}

/*** END HEADER ***/
/*** FOOTER ***/
.l-footer {
  background-color: #353535;
  padding: 25px;
}
.l-footer__container {
  display: flex;
  flex-flow: column wrap;
  width: 100%;
}
.l-footer__logo {
  margin-bottom: 25px;
}
.l-footer__logo img {
  height: 20px;
  filter: invert(100%);
}
.l-footer__nav {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: flex-start;
}
.l-footer li {
  display: block;
  padding: 5px 0;
}
.l-footer a {
  color: #ffffff;
  text-decoration: none;
  font-size: 15px;
  transition: color 350ms ease;
}
.l-footer a:hover {
  color: #99E2D0;
  transition: color 350ms ease;
}
.l-footer a[data-type=cta_link] {
  font-weight: 500;
}
.l-footer i {
  margin-right: 12px;
  max-width: 11px;
  font-size: 13px;
}

/*** END FOOTER ***/
/*** MEDIAQUERIES ***/
/*** 600 PX ***/
@media screen and (min-width: 600px) {
  /*** FOOTER ***/
  .l-footer__nav {
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
  }
  .l-footer li {
    width: 50%;
  }

  /*** FOOTER ***/
}
/*** 768 PX ***/
@media screen and (min-width: 768px) {
  body {
    padding-top: 83px;
  }

  /*** HEADER ***/
  .l-header {
    justify-content: flex-start;
    height: 83px;
    padding: 0 20px;
  }
  .l-header__logo {
    height: 83px;
    width: 150px;
  }
  .l-header__logo img {
    height: 25px;
  }
  .l-header__nav {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    height: 83px;
    width: calc(100% - 150px);
  }
  .l-header__back {
    display: none;
  }

  .l-nav__lv1, .l-links__lv1, .l-links__lv1 a {
    height: 100%;
  }

  .l-nav__lv1 {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
  }

  .l-links__lv1 {
    padding: 0 7px;
  }
  .l-links__lv1:hover > a {
    color: #9356DC;
    transition: color 350ms ease;
  }
  .l-links__lv1:hover .l-nav__lv2 {
    visibility: visible;
    transition: all 350ms ease;
  }
  .l-links__lv1 a {
    color: #000000;
    text-decoration: none;
    font-size: 15px;
    display: flex;
    align-items: center;
    transition: color 350ms ease;
  }
  .l-links__lv1 i {
    margin-left: 8px;
  }

  .l-nav__lv2 {
    visibility: hidden;
    display: block;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: absolute;
    width: 200px;
    top: 103px;
    box-shadow: 0 5px 10px 0 #d9d9d9;
    transition: all 350ms ease;
  }

  .l-links__lv2 {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-start;
  }
  .l-links__lv2:hover a {
    color: #99E2D0;
    transition: color 350ms ease;
  }
  .l-links__lv2 a {
    padding: 10px 0;
    width: 100%;
    transition: color 350ms ease;
  }
  .l-links__lv2 i {
    margin-right: 16px;
  }

  /*** END HEADER ***/
  /*** FOOTER ***/
  .l-footer__container {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
  }
  .l-footer__nav {
    justify-content: flex-end;
    width: calc(100% - 150px);
  }
  .l-footer__logo {
    width: 150px;
    margin-bottom: 0;
  }
  .l-footer__logo img {
    height: 25px;
  }
  .l-footer li {
    padding-right: 15px;
    width: auto;
  }

  /*** FOOTER ***/
}
/*** 900 PX ***/
@media screen and (min-width: 900px) {
  /*** FOOTER ***/
  .l-footer li {
    padding-right: 20px;
  }

  /*** FOOTER ***/
}
/*** 1200 PX ***/
@media screen and (min-width: 1200px) {
  body {
    padding-top: 103px;
  }

  /*** HEADER ***/
  .l-header {
    height: 103px;
  }
  .l-header__container {
    max-width: 1200px;
    margin: auto;
  }

  .l-links__lv1 {
    padding: 0 25px;
  }

  /*** END HEADER ***/
  /*** FOOTER ***/
  .l-footer {
    height: 103px;
  }
  .l-footer__container {
    max-width: 1200px;
    margin: auto;
    height: 100%;
    align-items: center;
  }
  .l-footer li {
    padding: 0 25px;
  }

  /*** END FOOTER ***/
}
/*** END MEDIAQUERIES ***/
/*** 02 - END LAYOUTS ***/
/*** 03 - COMPONENTS ***/
.o-card__favorite {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  transition: all ease-in-out 350ms;
}
.o-card__favorite i {
  font-family: "Font Awesome 5 Free";
  font-size: 20px;
}
.o-card__favorite:hover {
  cursor: pointer;
}
.o-card__favorite:hover i {
  background: linear-gradient(180deg, #FF79DA 10%, #9356DC 95%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
  transition: all ease-in-out 350ms;
}

.o-loader {
  background: linear-gradient(180deg, #FF79DA 10%, #9356DC 95%);
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  animation: FadeOut 0.2s 3s forwards;
}
.o-loader img {
  margin-bottom: 15px;
}
.o-loader span {
  color: #ffffff;
  margin-bottom: 30px;
}
.o-loader__spinner {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.o-loader__spinner:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: 6px solid #ffffff;
  border-color: #ffffff transparent #ffffff transparent;
  animation: Loading 1.2s linear infinite;
}

/*** 03 - COMPONENTS ***/
/*** 01 - HERO ***/
.o-hero--home {
  background-color: #f6f6f6;
}
.o-hero--home .o-button {
  margin-top: 10px;
}
.o-hero__location {
  background-color: #eaeaea;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  padding: 17px;
}
.o-hero__location i {
  margin-right: 18px;
}
.o-hero__location span {
  color: #353535;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 400;
}
.o-hero__content {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 45px 20px 55px;
}
.o-hero__title {
  padding: 0 20px;
}
.o-hero__text {
  color: #353535;
}

/*** 01 - END HERO ***/
/*** 02 - WORKING ***/
.o-working {
  padding: 50px 20px 70px;
}
.o-working__title {
  margin-bottom: 30px;
}
.o-working__list {
  counter-reset: listCounter;
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  justify-content: center;
}
.o-working__card {
  background-color: #f6f6f6;
  border-radius: 20px;
  box-shadow: 0 5px 10px 0 #d9d9d9;
  color: #000000;
  text-decoration: none;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-start;
  padding: 25px;
  width: 100%;
  position: relative;
  counter-increment: listCounter;
  transition: all ease-in-out 350ms;
}
.o-working__card:nth-child(2) {
  margin: 20px 0;
}
.o-working__card span {
  font-weight: 500;
}
.o-working__card i {
  color: #7e7e7e;
  margin-right: 25px;
  height: 20px;
  width: 20px;
}
.o-working__card:hover {
  background-color: #f5edff;
  cursor: pointer;
  transition: all ease-in-out 350ms;
}
.o-working__card:hover i {
  color: #9356DC;
}
.o-working__card::before {
  content: counter(listCounter);
  background-color: #9356DC;
  color: #ffffff;
  border-radius: 50px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-50%, 100%);
  height: 25px;
  width: 25px;
}

/*** 02 - WORKING HERO ***/
/*** 03 - RESTAURANTS ***/
.o-restaurants {
  background-color: #f6f6f6;
  padding: 60px 20px 65px;
}
.o-restaurants__container {
  display: flex;
  flex-flow: column wrap;
}
.o-restaurants__title {
  margin-bottom: 10px;
}
.o-restaurants__card {
  text-decoration: none;
  color: #000000;
  background-color: #ffffff;
  box-shadow: 0 5px 10px 0 #d9d9d9;
  border-radius: 10px;
  display: flex;
  flex-flow: column wrap;
  margin-top: 20px;
  width: 100%;
}
.o-restaurants__card[data-type=new] {
  position: relative;
}
.o-restaurants__card[data-type=new]::after {
  content: "Nouveau";
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 13px;
  font-weight: 500;
  color: #008766;
  height: 30px;
  width: 80px;
  border-radius: 3px;
  background-color: #99E2D0;
  position: absolute;
  right: 10px;
  top: 10px;
}
.o-restaurants .o-card__photo {
  position: relative;
}
.o-restaurants .o-card__photo img {
  border-radius: 10px 10px 0 0;
  height: 175px;
  width: 100%;
  object-fit: cover;
}
.o-restaurants .o-card__photo::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 10px 10px 0 0;
  display: block;
  height: 175px;
  width: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all ease-in-out 350ms;
}
.o-restaurants .o-card__photo:hover::before {
  opacity: 1;
  transition: all ease-in-out 350ms;
}
.o-restaurants .o-card__content {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
}
.o-restaurants .o-card__desc {
  padding: 20px 15px;
  width: calc(100% - 50px);
}
.o-restaurants .o-card__desc h3 {
  margin-bottom: 7px;
}
.o-restaurants .o-card__desc span {
  font-weight: 300;
}

/*** 03 - RESTAURANTS HERO ***/
/*** 04 - MEDIAQUERIES ***/
/*** 600 PX ***/
@media screen and (min-width: 600px) {
  .o-restaurants__container {
    flex-flow: row wrap;
    justify-content: space-between;
  }
  .o-restaurants__card {
    width: 48%;
  }
}
/*** 768 PX ***/
@media screen and (min-width: 768px) {
  .o-working {
    padding: 50px 40px 70px;
  }
  .o-working__title {
    text-align: center;
  }
  .o-working__list {
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
  }
  .o-working__card {
    flex-flow: column wrap;
    text-align: center;
    padding: 25px 15px;
    width: 30%;
  }
  .o-working__card i {
    margin-right: 0;
    margin-bottom: 15px;
  }
}
/*** 1024 PX ***/
@media screen and (min-width: 1024px) {
  .o-working__card {
    max-width: 300px;
  }

  .o-restaurants__container {
    justify-content: space-between;
  }
  .o-restaurants__title {
    text-align: center;
    margin-bottom: 50px;
  }
  .o-restaurants__card {
    width: 32%;
    margin-top: 12px;
    margin-bottom: 12px;
  }
}
/*** 1200 PX ***/
@media screen and (min-width: 1200px) {
  .o-working__list {
    max-width: 1200px;
    margin: auto;
    justify-content: center;
  }

  .o-working__card {
    margin: 0 50px;
  }

  .o-restaurants__container {
    max-width: 1200px;
    margin: auto;
  }
}
/*** 04 - END MEDIAQUERIES ***/

/*# sourceMappingURL=index.css.map */
