@charset "UTF-8";
/*
	--- Summary ---

		01 - Général 		: Variables, *, Html, Body, Grid
		02 - Layouts 		: Header, Footer

	--- End Summary ---
*/
/*** 01 - Général ***/
*, *::before, *::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  padding-top: 63px;
}

html {
  color: #000000;
  font-family: "Roboto Regular", sans-serif;
  font-size: 16px;
  font-weight: 300;
}

/*** Header ***/
.l-header {
  background-color: #ffffff;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  box-shadow: 0 5px 10px 0 #d9d9d9;
  height: 63px;
  width: 100%;
  position: fixed;
  z-index: 9999;
  top: 0;
}

.l-header__container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
}

.l-header__logo {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  height: 63px;
}

.l-header__logo img {
  height: 30px;
}

.l-header__nav {
  display: none;
}

.l-header__back {
  color: #353535;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0%, -50%);
  height: 63px;
  width: 63px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.l-header__back i {
  color: #353535;
  transition: color 350ms ease;
}

.l-header__back:hover i {
  color: #99E2D0;
  transition: color 350ms ease;
}

@media screen and (min-width: 768px) {
  .l-header {
    justify-content: flex-start;
    height: 83px;
    padding: 0 20px;
  }

  .l-header__logo {
    height: 83px;
    width: 150px;
  }

  .l-header__logo img {
    height: 25px;
  }

  .l-header__nav {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    height: 83px;
    width: calc(100% - 150px);
  }

  .l-nav__lv1, .l-links__lv1, .l-links__lv1 a {
    height: 100%;
  }

  .l-nav__lv1 {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
  }

  .l-links__lv1 {
    padding: 0 10px;
  }

  .l-links__lv1:hover > a {
    color: #9356DC;
    transition: color 350ms ease;
  }

  .l-links__lv1:hover .l-nav__lv2 {
    opacity: 1;
    transition: all 350ms ease;
  }

  .l-links__lv1 a {
    color: #000000;
    text-decoration: none;
    font-size: 14px;
    display: flex;
    align-items: center;
    transition: color 350ms ease;
  }

  .l-links__lv1 i {
    margin-left: 8px;
  }

  .l-nav__lv2 {
    opacity: 0;
    display: block;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: absolute;
    width: 200px;
    box-shadow: 0 5px 10px 0 #d9d9d9;
    transition: all 350ms ease;
  }

  .l-links__lv2 {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-start;
  }

  .l-links__lv2:hover a {
    color: #99E2D0;
    transition: color 350ms ease;
  }

  .l-links__lv2 a {
    padding: 10px 0;
    width: 100%;
    transition: color 350ms ease;
  }

  .l-links__lv2 i {
    margin-right: 16px;
  }

  .l-header__back {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .l-header__container {
    max-width: 1200px;
    margin: auto;
  }
}
@media screen and (min-width: 1440px) {
  .l-links__lv1 {
    padding: 0 25px;
  }
}
/*** Header ***/
/*** 01 - Fin Général ***/

/*# sourceMappingURL=restaurants.css.map */
