@charset "UTF-8";
/*
	--- SUMMARY ---

		01 - HERO
		02 - MENU
		03 - MEDIAQUERIES

	--- END SUMMARY ---
*/
/*
	--- SUMMARY ---

		01 - GENERAL 		: *, HTML, BODY, GRID, TITLES, TEXT, BUTTONS
		02 - LAYOUTS 		: HEADER, FOOTER

	--- END SUMMARY ---
*/
/*
	--- SUMMARY ---

		00 - VARIABLES

	--- END SUMMARY ---
*/
/*** 00 - VARIABLES ***/
/*** 00 - END VARIABLES ***/
/*
	--- SUMMARY ---

		01 - ANIMATIONS

	--- END SUMMARY ---
*/
/*** 01 - ANIMATIONS ***/
@keyframes ChangeWith {
  from {
    width: 100%;
  }
  to {
    width: calc(100% - 70px);
  }
}
@keyframes MenuCard {
  from {
    opacity: 0;
    width: 0px;
  }
  to {
    opacity: 1;
    width: 70px;
  }
}
@keyframes RotateCheck {
  from {
    opacity: 0;
    width: 0px;
    transform: rotate(0);
  }
  to {
    opacity: 1;
    width: 70px;
    transform: rotate(360deg);
  }
}
@keyframes SlideUP {
  from {
    transform: translateY(20px);
    opacity: 0%;
  }
  to {
    transform: translateY(0px);
    opacity: 100%;
  }
}
/*** 01 - END ANIMATIONS ***/
/*** 01 - GENERAL ***/
*, *::before, *::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  padding-top: 63px;
}

html {
  color: #000000;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

p {
  padding: 20px 0;
  margin: 0;
}

.o-button {
  background: linear-gradient(180deg, #FF79DA 10%, #9356DC 95%);
  color: #ffffff;
  text-decoration: none;
  font-size: 15px;
  font-weight: 400;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  padding: 19px 22px;
  transition: all 450ms ease;
  box-shadow: 0 5px 10px 0 #d9d9d9;
}
.o-button:hover {
  cursor: pointer;
  opacity: 0.9;
  box-shadow: 0 5px 10px 0 #000000;
}

/*** 01 - END GENERAL ***/
/*** 02 - LAYOUTS ***/
/*** HEADER ***/
.l-header {
  background-color: #ffffff;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  box-shadow: 0 5px 10px 0 #d9d9d9;
  position: fixed;
  z-index: 9999;
  top: 0;
  height: 63px;
  width: 100%;
}
.l-header__container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
}
.l-header__logo {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  height: 63px;
}
.l-header__logo img {
  height: 30px;
}
.l-header__nav {
  display: none;
}
.l-header__back {
  color: #353535;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0%, -50%);
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  height: 63px;
  width: 63px;
}
.l-header__back i {
  color: #353535;
  transition: color 350ms ease;
}
.l-header__back:hover i {
  color: #99E2D0;
  transition: color 350ms ease;
}

/*** END HEADER ***/
/*** FOOTER ***/
.l-footer {
  background-color: #353535;
  padding: 25px;
}
.l-footer__container {
  display: flex;
  flex-flow: column wrap;
  width: 100%;
}
.l-footer__logo {
  margin-bottom: 25px;
}
.l-footer__logo img {
  height: 20px;
  filter: invert(100%);
}
.l-footer__nav {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: flex-start;
}
.l-footer li {
  display: block;
  padding: 5px 0;
}
.l-footer a {
  color: #ffffff;
  text-decoration: none;
  font-size: 15px;
  transition: color 350ms ease;
}
.l-footer a:hover {
  color: #99E2D0;
  transition: color 350ms ease;
}
.l-footer a[data-type=cta_link] {
  font-weight: 500;
}
.l-footer i {
  margin-right: 12px;
  max-width: 11px;
  font-size: 13px;
}

/*** END FOOTER ***/
/*** MEDIAQUERIES ***/
/*** 600 PX ***/
@media screen and (min-width: 600px) {
  /*** FOOTER ***/
  .l-footer__nav {
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
  }
  .l-footer li {
    width: 50%;
  }

  /*** FOOTER ***/
}
/*** 768 PX ***/
@media screen and (min-width: 768px) {
  body {
    padding-top: 83px;
  }

  /*** HEADER ***/
  .l-header {
    justify-content: flex-start;
    height: 83px;
    padding: 0 20px;
  }
  .l-header__logo {
    height: 83px;
    width: 150px;
  }
  .l-header__logo img {
    height: 25px;
  }
  .l-header__nav {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    height: 83px;
    width: calc(100% - 150px);
  }
  .l-header__back {
    display: none;
  }

  .l-nav__lv1, .l-links__lv1, .l-links__lv1 a {
    height: 100%;
  }

  .l-nav__lv1 {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
  }

  .l-links__lv1 {
    padding: 0 7px;
  }
  .l-links__lv1:hover > a {
    color: #9356DC;
    transition: color 350ms ease;
  }
  .l-links__lv1:hover .l-nav__lv2 {
    visibility: visible;
    transition: all 350ms ease;
  }
  .l-links__lv1 a {
    color: #000000;
    text-decoration: none;
    font-size: 15px;
    display: flex;
    align-items: center;
    transition: color 350ms ease;
  }
  .l-links__lv1 i {
    margin-left: 8px;
  }

  .l-nav__lv2 {
    visibility: hidden;
    display: block;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: absolute;
    width: 200px;
    top: 103px;
    box-shadow: 0 5px 10px 0 #d9d9d9;
    transition: all 350ms ease;
  }

  .l-links__lv2 {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-start;
  }
  .l-links__lv2:hover a {
    color: #99E2D0;
    transition: color 350ms ease;
  }
  .l-links__lv2 a {
    padding: 10px 0;
    width: 100%;
    transition: color 350ms ease;
  }
  .l-links__lv2 i {
    margin-right: 16px;
  }

  /*** END HEADER ***/
  /*** FOOTER ***/
  .l-footer__container {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
  }
  .l-footer__nav {
    justify-content: flex-end;
    width: calc(100% - 150px);
  }
  .l-footer__logo {
    width: 150px;
    margin-bottom: 0;
  }
  .l-footer__logo img {
    height: 25px;
  }
  .l-footer li {
    padding-right: 15px;
    width: auto;
  }

  /*** FOOTER ***/
}
/*** 900 PX ***/
@media screen and (min-width: 900px) {
  /*** FOOTER ***/
  .l-footer li {
    padding-right: 20px;
  }

  /*** FOOTER ***/
}
/*** 1200 PX ***/
@media screen and (min-width: 1200px) {
  body {
    padding-top: 103px;
  }

  /*** HEADER ***/
  .l-header {
    height: 103px;
  }
  .l-header__container {
    max-width: 1200px;
    margin: auto;
  }

  .l-links__lv1 {
    padding: 0 25px;
  }

  /*** END HEADER ***/
  /*** FOOTER ***/
  .l-footer {
    height: 103px;
  }
  .l-footer__container {
    max-width: 1200px;
    margin: auto;
    height: 100%;
    align-items: center;
  }
  .l-footer li {
    padding: 0 25px;
  }

  /*** END FOOTER ***/
}
/*** END MEDIAQUERIES ***/
/*** 02 - END LAYOUTS ***/
/*** 03 - COMPONENTS ***/
.o-card__favorite {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  transition: all ease-in-out 350ms;
}
.o-card__favorite i {
  font-family: "Font Awesome 5 Free";
  font-size: 20px;
}
.o-card__favorite:hover {
  cursor: pointer;
}
.o-card__favorite:hover i {
  background: linear-gradient(180deg, #FF79DA 10%, #9356DC 95%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
  transition: all ease-in-out 350ms;
}

/*** 03 - COMPONENTS ***/
/*** 01 - HERO ***/
.o-hero--menu img {
  height: 260px;
  width: 100%;
  object-fit: cover;
}

/*** 01 - END HERO ***/
/*** 02 - MENU ***/
.o-menu {
  background-color: #f6f6f6;
  border-radius: 42px 42px 0 0;
  transform: translateY(-40px);
  padding: 35px 15px;
  margin-bottom: -40px;
}
.o-menu__head {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
.o-menu__body {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  justify-content: flex-start;
}
.o-menu__name {
  font-family: "Shrikhand", sans-serif;
  font-weight: 400;
}
.o-menu__content {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 10px;
  margin-top: 35px;
  width: 100%;
}
.o-menu__title {
  font-weight: 300;
  font-size: 16px;
  text-transform: uppercase;
  padding-bottom: 9px;
  position: relative;
  width: 100%;
}
.o-menu__title::after {
  content: "";
  background-color: #99E2D0;
  display: block;
  height: 3px;
  width: 40px;
  position: absolute;
  left: 0;
  bottom: 0;
}
.o-menu__item {
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 5px 10px 0 #d9d9d9;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin: 15px 0 0 0;
  position: relative;
  width: 100%;
  opacity: 0;
  animation: SlideUP 1s forwards;
}
.o-menu__item:nth-child(2) {
  animation-delay: 0.25s;
}
.o-menu__item:nth-child(3) {
  animation-delay: 0.5s;
}
.o-menu__item:nth-child(4) {
  animation-delay: 0.75s;
}
.o-menu__item:nth-child(5) {
  animation-delay: 1s;
}
.o-menu__item::before, .o-menu__item::after {
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
}
.o-menu__item::before {
  content: "";
  color: #ffffff;
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  font-size: 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.o-menu__item::after {
  content: "";
  background-color: #99E2D0;
  border-radius: 0 15px 15px 0;
  z-index: 0;
}
.o-menu__item:hover .o-item {
  animation: ChangeWith 350ms cubic-bezier(0.42, 0, 0.58, 1) both;
}
.o-menu__item:hover::before {
  animation: RotateCheck 350ms cubic-bezier(0.42, 0, 0.58, 1) both;
}
.o-menu__item:hover::after {
  animation: MenuCard 350ms cubic-bezier(0.42, 0, 0.58, 1) both;
}
.o-menu .o-item {
  padding: 15px 20px 15px 10px;
  width: 100%;
}
.o-menu .o-item__title {
  width: 100%;
}
.o-menu .o-item__content {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
}
.o-menu .o-item__text {
  margin-top: 10px;
  padding: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: calc(100% - 70px);
}
.o-menu .o-item__title, .o-menu .o-item__price {
  font-size: 16px;
  font-weight: 500;
}
.o-menu .o-button {
  max-width: 190px;
  margin: auto;
  margin-top: 40px;
}

/*** 02 - END MENU ***/
/*** 03 - MEDIAQUERIES ***/
@media screen and (min-width: 768px) {
  .o-menu__content {
    flex-flow: row wrap;
    justify-content: space-between;
  }
  .o-menu__item {
    width: 48%;
  }
}
@media screen and (min-width: 1024px) {
  .o-restaurant {
    padding: 55px 40px;
  }

  .o-hero--menu {
    height: 427px;
    width: 640px;
    margin: auto;
  }
  .o-hero--menu img {
    height: inherit;
    width: inherit;
    border-radius: 42px 42px 0 0;
  }

  .o-menu {
    max-width: 1024px;
    margin: auto;
    border-radius: 42px;
    margin-bottom: 0;
  }
  .o-menu__head {
    justify-content: center;
  }
  .o-menu__content {
    justify-content: center;
  }
  .o-menu__item {
    width: 30%;
  }
  .o-menu__item:nth-child(odd) {
    margin-left: 25px;
    margin-right: 25px;
  }
  .o-menu__title {
    text-align: center;
  }
  .o-menu__title::after {
    left: 50%;
    transform: translateX(-50%);
  }
}
@media screen and (min-width: 1200px) {
  .o-menu {
    max-width: 1200px;
  }
}
/*** 03 - END MEDIAQUERIES ***/

/*# sourceMappingURL=restaurants.css.map */
