/*
	--- SUMMARY ---

		01 - HERO
		02 - MENU
		03 - MEDIAQUERIES

	--- END SUMMARY ---
*/


@import 'style';


/*** 01 - HERO ***/

	.o-hero--menu {
		img {
			height: 260px;
			width: 100%;
			object-fit: cover;
		}
	}

/*** 01 - END HERO ***/


/*** 02 - MENU ***/

	//

/*** 02 - END MENU ***/


/*** 03 - MEDIAQUERIES ***/

	//

/*** 03 - END MEDIAQUERIES ***/