/*
	--- Summary ---

		01 - Général 		: Variables, *, Html, Body, Grid
		02 - Layouts 		: Header, Footer

	--- End Summary ---
*/



/*** 01 - Général ***/

$purple : #9356DC;
$pink : #FF79DA;
$green : #99E2D0;