/*
	--- SUMMARY ---

		01 - GENERAL 		: VARIABLES, *, HTML, BODY, GRID
		02 - LAYOUTS 		: HEADER, FOOTER

	--- END SUMMARY ---
*/



/*** 01 - GENERAL ***/

	$purple : #9356DC;
	$pink : #FF79DA;
	$green : #99E2D0;
	$dark : #000000;
	$light : #ffffff;
	$grey: #353535;


	$header-height--mobile : 63px;
	$header-height--tablet : 83px;
	$header-height--desktop : 103px;


	*, *::before, *::after {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-o-box-sizing: border-box;
		-ms-box-sizing: border-box;
		box-sizing: border-box;
	}

	body {
		margin: 0;
		padding: 0;
		padding-top: $header-height--mobile;
	}

	html {
		color: $dark;
		font-family: 'Roboto Regular', sans-serif;
		font-size: 16px;
		font-weight: 300;
	}

/*** 01 - END GENERAL ***/



/*** 02 - LAYOUTS ***/

	/*** HEADER ***/

		.l-header {
			background-color: $light;
			display: flex;
			flex-flow: row wrap;
			align-items: center;
			justify-content: center;
			box-shadow: 0 5px 10px 0 lighten($dark, 85%);
			position: fixed;
			z-index: 9999;
			top: 0;
			height: $header-height--mobile;
			width: 100%;

			&__container {
				display: flex;
				flex-flow: row wrap;
				justify-content: center;
				width: 100%;
			}

			&__logo {
				display: flex;
				flex-flow: row wrap;
				align-items: center;
				height: $header-height--mobile;

				img {
					height: 30px;
				}
			}

			&__nav {
				display: none;
			}

			&__back {
				color: $grey;
				box-sizing: border-box;
				position: absolute;
				left: 0;
				top: 50%;
				transform: translate(0%, -50%);
				display: flex;
				flex-flow: row wrap;
				justify-content: center;
				align-items: center;
				height: $header-height--mobile;
				width: $header-height--mobile;

				i {
					color: $grey;
					transition: color 350ms ease;
				}

				&:hover i {
					color: $green;
					transition: color 350ms ease;
				}
			}	
		}

	/*** END HEADER ***/


	/*** FOOTER ***/

		.l-footer {
			background-color: $grey;

			&__container {
				display: flex;
				flex-flow: row wrap;
				width: 100%;
			}
		}

	/*** END FOOTER ***/


	/*** MEDIAQUERIES ***/

		/*** 768 PX ***/
		@media screen and (min-width: 768px) {

			/*** HEADER ***/

				.l-header {
					justify-content: flex-start;
					height: $header-height--tablet;
					padding: 0 20px;

					&__logo {
						height: $header-height--tablet;
						width: 150px;
					}
	
					&__logo img {
						height: 25px;
					}

					&__nav {
						display: flex;
						flex-flow: row wrap;
						align-items: center;
						height: $header-height--tablet;
						width: calc(100% - 150px);
					}

					&__back {
						display: none;
					}
				}

				.l-nav__lv1, .l-links__lv1, .l-links__lv1 a {
					height: 100%;
				}

				.l-nav__lv1 {
					margin: 0;
					padding: 0;
					list-style-type: none;
					display: flex;
					flex-flow: row wrap;
					align-items: center;
					justify-content: flex-end;
					width: 100%;
				}

				.l-links__lv1 {
					padding: 0 10px;

					&:hover > a {
						color: $purple;
						transition: color 350ms ease;
					}

					&:hover .l-nav__lv2 {
						opacity: 1;
						transition: all 350ms ease;
					}

					a {
						color: $dark;
						text-decoration: none;
						font-size: 15px;
						display: flex;
						align-items: center;
						transition: color 350ms ease;
					}

					i {
						margin-left: 8px;
					}
				}

				.l-nav__lv2 {
					opacity: 0;
					display: block;
					background-color: #ffffff;
					margin: 0;
					padding: 0;
					list-style-type: none;
					position: absolute;
					width: 200px;
					box-shadow: 0 5px 10px 0 lighten($dark, 85%);
					transition: all 350ms ease;
				}

				.l-links__lv2 {
					display: flex;
					flex-flow: row wrap;
					align-items: center;
					justify-content: flex-start;

					&:hover a {
						color: $green;
						transition: color 350ms ease;
					}

					a {
						padding: 10px 0;
						width: 100%;
						transition: color 350ms ease;
					}
	
					i {
						margin-right: 16px;
					}
				}	

			/*** END HEADER ***/

		}


		/*** 1200 PX ***/
		@media screen and (min-width: 1200px) {

			/*** HEADER ***/

				.l-header {
					height: $header-height--desktop;

					&__container {
						max-width: 1200px;
						margin: auto;
					}
				}

				.l-links__lv1 {
					padding: 0 25px;
				}

			/*** END HEADER ***/


			/*** FOOTER ***/

				.l-footer__container {
					max-width: 1200px;
					margin: auto;
				}

			/*** END FOOTER ***/

		}

/*** 02 - END LAYOUTS ***/